.Header{
    background: black;
    color: white;
    display: flex;
    justify-content: center;
}

.Episode{
    flex-direction: column;
    justify-content: center;
    width: 200px;
    flex-wrap: wrap;
    border: 1px black solid;
}
.Episodes{
    width: 95%;
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
}